:root {
  --primaryColor: #90a959;
  --secondColor: #ebcfc4;
  --mainWhite: #fff;
  --mainblack: #222;
  --mainRed: #c45151;
  --mainGreen: #4caf50;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Hi Melody", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.hi-melody-regular {
}

body {
  background: var(--secondColor);
  color: var(--mainblack);
}

h1 {
  margin: 1rem 0;
}

.btn {
  text-decoration: none;
  color: var(--mainWhite);
  background-color: var(--primaryColor);
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 14px;
  outline: 0;
  border: none;
  border-radius: 2px;
  display: block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  cursor: pointer;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
}

.btn:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12);
}

.btn-icon {
  margin-left: 0.75rem;
  font-size: 1.2rem;
}
